.btn-login {
    height: 48px;
    width: 120px;
    background: #6379F4;
    border: 2px solid #FFFFFF !important;
    box-sizing: border-box;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.btn-auth-active {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 57px;
    width: 433px;
    border-radius: 12px;
    background: #6379F4;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #fff;
}

.btn-signup {
    height: 48px;
    width: 120px;
    border-radius: 12px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #6379F4;
}

.btn-tryIt {
    background: #6379F4;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    height: 57px;
    width: 173px;
    border: none;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.btn-profile {
    height: 64px;
    width: 433px;
    border-radius: 10px;
    background: #E5E8ED;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #4D4B57;
    text-align: left;
    border: none;
    margin-left: 100px;
    margin-top: 30px;
}

.btn-confirm {
    margin-top: 100px;
    height: 35px;
    width: 150px;
    border-radius: 10px;
    background: #6379F4;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    border: none;
}

.btn-continue {
    border: none;
    height: 57px;
    width: 170px;
    border-radius: 12px;
    background: #6379F4;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 100px;
}

.btn-download {
    margin-top: 100px;
    height: 57px;
    width: 243px;
    background: rgba(99, 121, 244, 0.15);
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #6379F4;
    border: none;
    margin-right: 20px;
}

.btn-share {
    margin-top: 100px;
    margin-right: 20px;
    height: 57px;
    width: 57px;
    border-radius: 12px;
    background: rgba(99, 121, 244, 0.15);
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    border: none;
}

.btn-change-pass {
    margin-top: 50px;
    margin-left: 120px;
    border: none;
    height: 57px;
    width: 432px;
    background: #DADADA;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #88888F;
}

.btn-edit {
    border: none;
    background: #fff;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #7A7886;
}

.btn-choose-picture {
    margin-top: 10px;
    border: none;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    background: #6379F4;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width:576px) {

    .btn-login,
    .btn-signup {
        position: absolute;
        top: 30px;
    }

    .btn-login {
        right: 140px;
    }

    .btn-signup {
        right: 10px;
    }
}