.card-history {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    height: 100%;
    width: 700px;
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.card-history h3 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #3A3D42;
}

.card-transaction-history {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 110px;
    width: 600px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    cursor: pointer;
}

.card-transaction-history h5 {
    margin-top: 15px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #4D4B57;
}

.card-transaction-history p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #7A7886;
}

.text-transaction {
    margin-left: -180px;
}

.card-transaction-history h6.amount-transfer {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-top: 27px;
    color: #FF5B37;
}

.card-transaction-history h6.amount-receiver {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-top: 27px;
    color: #1EC15F;
}

.detail-transfer {
    padding-top: 15px;
    padding-left: 20px;
    margin-bottom: 15px;
    height: 92px;
    width: 600px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.detail-transfer span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #7A7886;
}

.detail-transfer p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #514F5B;
}

.form-users {
    height: 110px;
    width: 600px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    cursor: pointer;
}

.nameSearch {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #4D4B57;
}

.number-Phone {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #7A7886;
}

@media (max-width:576px) {
    .card-history {
        padding-bottom: 30px;
        height: 100%;
        width: 100%;
        padding-right: 20px;
    }

    .card-transaction-history,
    .detail-transfer,
    .form-users {
        width: 100%;
    }

    .text-transaction {
        margin-left: -10px;
    }

    .detail-transfer {
        height: max-content;
    }
}

@media (min-width:576px) and (max-width:768px) {
    .card-history {
        padding-bottom: 30px;
        height: 100%;
        width: 100%;
        padding-right: 20px;
    }

    .card-transaction-history,
    .detail-transfer,
    .form-users {
        width: 100%;
    }

    .text-transaction {
        margin-left: -10px;
    }

    .detail-transfer {
        height: max-content;
    }

}