header.landing-page {
    height: 800px;
}

header.landing-page h1 {
    margin-top: 50px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 93px;
    color: #3A3D42;
}

header.landing-page h1 span {
    color: #6379F4;
}

header.landing-page p {
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    color: #3A3D42;
}

.bg-landing-page {
    position: absolute;
    top: -120px;
    height: 658px;
    width: 100vw;
    background: #6379F4;
    border-radius: 0px 0px 0px 200px;
    z-index: -1;
}

.image-header {
    position: absolute;
    top: 90px;
    right: 80px;
}

.bgHeader {
    width: 100vw;
    height: 229px;
}

/* section */
.landing-page-section {
    padding-top: 50px;
    background: #EFF0FC;
    height: 700px;
}

.landing-page-section h1 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 93px;
    text-align: center;
}

.landing-page-section span {
    color: #6379F4;
}

.landing-page-section p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    color: #3A3D42;
}

.landing-page-section h4 {
    margin-top: 30px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #3A3D42;
    text-align: center;
    margin-bottom: 30px;
}

.card-section {
    height: 344px;
    width: 367px;
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

.circle-section {
    height: 60px;
    width: 60px;
    border-radius: 25px;
    background: rgba(71, 58, 209, 0.1);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.iconLanding {
    color: #6379F4;
    margin-top: 20px;
    margin-left: 22px;
}

.section-trusted {
    padding-top: 70px;
    height: 400px;
    background: #fff;
}

.section-trusted h1 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 93px;
    color: #3A3D42;
}

.section-trusted span {
    color: #6379F4;
}

.logo-airbnb {
    margin-top: 35px;
    margin-right: 20px;
}

.logo-canon {
    margin-right: 40px;
}

.logo-dell {
    margin-top: 10px;
}

.logo-microsoft {
    margin-right: 60px;
}

.logo-dropbox {
    margin-right: 50px;
}

.logo-hm {
    margin-top: 10px;
}

/* trusted */
.section-feature {
    padding-top: 80px;
    height: 800px;
    background: #EFF0FC;
}

.section-feature h1 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 93px;
    color: #3A3D42;
}

.section-feature span {
    color: #6379F4;
}

.section-feature .card-feature {
    height: 127px;
    width: 580px;
    padding-top: 30px;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.section-feature .card-feature h6 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    color: #3A3D42;
}

.section-feature .card-feature p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    color: rgba(58, 61, 66, 0.9);
}

.section-feature .card-feature span {
    color: #6379F4;
}

/* testimoni */
.section-testimoni {
    height: 780px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-testimoni h1 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 93px;
    color: #3A3D42;
    text-align: center;
}

.section-testimoni span {
    color: #6379F4;
}

.section-testimoni p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    color: #3A3D42;
}

.card-testimoni {
    margin-top: 80px;
    margin-right: 10px;
    height: 344px;
    width: 367px;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.image-testi {
    margin-left: 120px;
    margin-bottom: 40px;
}

.card-testimoni h6 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #3A3D42;
}

@media (max-width:576px) {

    .image-header,
    .bgHeader,
    .image-feature {
        display: none;
    }

    header.landing-page {
        height: 450px;
    }

    header.landing-page h1 {
        margin-top: 80px;
        font-size: 40px;
        line-height: 60px;
    }

    header.landing-page p {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 25px;
    }

    .bg-landing-page {
        top: -470px;
        right: 0px;
        height: 120px;
        width: 70%;
        border-radius: 0px 0px 0px 80px;
    }

    .landing-page-section {
        padding-top: 30px;
        height: 1500px;
    }

    .landing-page-section h1,
    .section-testimoni h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .landing-page-section p,
    .section-testimoni p {
        margin-top: 10px;
        font-size: 16px;
        line-height: 25px;
    }

    .landing-page-section h4 {
        font-size: 20px;
    }

    .card-section p {
        font-size: 14px;
    }

    .section-trusted {
        height: 650px;
    }

    .section-trusted h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .section-trusted p {
        font-size: 16px;
    }

    .logo-dell {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .logo-microsoft {
        margin-left: 70px;
    }

    .section-feature h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .section-feature .card-feature {
        padding-top: 15px;
        width: 100%;
    }

    .section-feature .card-feature h6 {
        font-size: 18px;
        line-height: 25px;
    }

    .section-feature .card-feature p {
        font-size: 16px;
        line-height: 25px;
    }

    .section-testimoni {
        height: 720px;
    }

    .card-overflow {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .card-testimoni {
        height: auto;
    }

    .image-testi {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .image-testimoni {
        margin-left: 100px;
    }
}

@media (min-width:577px) and (max-width:768px) {

    .image-header,
    .bgHeader,
    .image-feature {
        display: none;
    }

    header.landing-page {
        height: 500px;
    }

    .bg-landing-page {
        top: -550px;
        right: 0px;
        height: 150px;
        width: 70%;
        border-radius: 0px 0px 0px 80px;
    }

    .landing-page-section {
        height: 1600px;
    }

    .section-trusted {
        height: 700px;
    }

    .logo-dell {
        margin-right: 50px;
    }

    .section-feature .card-feature {
        width: 100%;
    }

    .section-testimoni {
        height: 800px;
    }

    .card-overflow {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .card-testimoni {
        height: auto;
    }

    .image-testi {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .image-testimoni {
        margin-left: 100px;
    }
}