.main-reset {
    display: grid;
    grid-template-areas: "section aside";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 850px;
}

.main-reset section.auth-resets {
    grid-area: section;
    background: #6379F4;
    padding-left: 50px;
    padding-right: 50px;
}

.main-reset aside.auth-reset {
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 100px;
}

.title-reset {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 40px;
    color: #FFFFFF;
}

.bgWave {
    position: absolute;
    left: 0px;
    height: 750px;
}

.image-reset {
    /* position: absolute; */
}


.title-bottom-section {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.subtitle-bottom-section {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.8);
}

/* aside */
.title-aside {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #3A3D42;
}

.subtitle-aside {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: rgba(58, 61, 66, 0.6);
}

.btn-auth {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 57px;
    width: 433px;
    border-radius: 12px;
    background: #DADADA;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #88888F;
}

.auth-reset input {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 431px;
    border-radius: 0px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: rgba(169, 169, 169, 0.8);
}

.iconLock,
.iconLock2,
.iconPass,
.iconPass2 {
    color: rgba(169, 169, 169, 0.6);
}

.iconLock {
    position: absolute;
    top: 390px;
}

.iconPass {
    position: absolute;
    top: 390px;
    right: 180px;
}

.iconLock2 {
    position: absolute;
    top: 475px;
}

.iconPass2 {
    position: absolute;
    top: 475px;
    right: 180px;
}